body,html {
    margin: 0 5px;
    font-family: Verdana,sans-serif;
background:  	 	#008080; 
}

h1 {
    font-size: 1.4em;
    color:  	#D3D3D3;
}

a {
    color:  #D3D3D3;
}

/* Table */
th {
    text-align: left;
}

td, th {
    padding-right: 5px;
}

/* style form */
form dt {
    width: 50px;
    display: block;
    float: left;
    clear: left;
}

form dd {
    margin-left: 0;
    float: left;
}

form #submitbutton {
    margin-left: 100px;
}

#choice {
width: 30em;  height: 10em;
}

~

